*{
    box-sizing: border-box;
}

h2, legend, h3{
    font-family: 'Oswald', Sans-Serif;
    text-transform: uppercase; 
}

h2{
    font-size: 4em;
}

legend, h3{
    font-size: 3em;
}

p, input, label, ul, li, sub{
    font-family: 'Quattrocento', Serif;
}

p {
    font-size: 1.7em;
}

input, label{
    font-size: 1.5em;
}

ul, li{
    font-size: 1.2em;   
}

sub{
    font-size: 1em;
}

body{
    text-align: center;
}

/*restyle the checkbox to look like a button by removing original styling then replacing it*/
/*still keep accesilbe*/
.button-style input[type="checkbox"] {
    width: 6em;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius:20px;
    border:1px solid #eeeeee;
}
 

.button-style input:checked{
    background-color: #eee;
}

/*add pointer to whole button*/
.button-style input, label:hover{
    cursor: pointer;
}

/*special formatting to make checkbox options look like buttons*/
.button-style label{
    display: inline-flex; /*display the options in a row */
    justify-content: center; /*center the label's span text*/
    margin: 5px; /*space out elements so they're easier to read*/
    text-transform: capitalize;
}

.button-style span{
    position: absolute; /*position the labels inside the boxes*/
    align-self: center; /*center the labels inside the boxes*/
}

/*style buttons throughout the app */
input[type="submit"], input[type="button"]{
    display: block;
    margin: auto;
    width: 75%;
    margin-top: 5px;
    background-color: black;
    color: white;
    font-size: 2em;
    border-radius: 20px;
}

input[type="submit"], input[type="button"]:hover{
    cursor: pointer;
}

/*style input boxes when user is selecting city*/
/*needs a differenty styling than the radio buttons*/
.text-inputs label{
    margin-top: 5px;
    display: block;
}

/*center image*/
.food-choices img{
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}

fieldset{
    border: 0;
}

.hidden{
    overflow: hidden;
    opacity: 0;   
    max-height: 0;
}