*{
    box-sizing: border-box;
}

h2, legend, h3{
    font-family: 'Oswald', Sans-Serif;
    text-transform: uppercase; 
}

h2{
    font-size: 4em;
}

legend, h3{
    font-size: 3em;
}

p, input, button, label, ul, li, sub{
    font-family: 'Quattrocento', Serif;
}

p {
    font-size: 1.7em;
}

input, label{
    font-size: 1.5em;
}

ul, li{
    font-size: 1.2em;   
}

sub{
    font-size: 1em;
}

body{
    text-align: center;
}

label{
    text-transform: capitalize;
    display: inline-block;
    margin-left: 10px;
}

/*style buttons throughout the app */
input[type="submit"], button, input[type="button"]{
    display: block;
    margin: auto;
    width: 75%;
    margin-top: 5px;
    background-color: black;
    color: white;
    font-size: 2em;
    border-radius: 20px;
}

input[type="submit"], button, input[type="button"]:hover{
    cursor: pointer;
}

/*style input boxes when user is selecting city*/
/*needs a differenty styling than the radio buttons*/
.text-inputs label{
    margin-top: 5px;
    display: block;
}

/*center image*/
.food-choices img{
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}

fieldset{
    border: 0;
}

.hidden{
    overflow: hidden;
    opacity: 0;   
    max-height: 0;
}